<!doctype html>
<html
	lang="en">
	<!-- Calling method head.html.twig-->
	{% include "partial/head.html.twig" %}
	<body>
		{% include "partial/navigation.html.twig" %}

		<div class="container">
			<ul class="nav nav-pills gap-3">
				<li class="nav-item">
					<a class="h3 nav-link fw-bold active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="h3 nav-link fw-bold linkUnset" href="/">Patients</a>
				</li>
			</ul>

			{% for note in notes.items %}
				<div class="container container-body px-5 py-5 my-3 shadow-sm rounded ">

					<div class="row justify-content-between">
						<div class="col-9">
							<p class="fw-bold fs-4" id="note">{{note.note_text}}</p>
							<span class="navbar-text text-capitalize fs-5">
								source:
								{{ note.first_name ~ ' ' }}{{ note.last_name }}
								|
								{{ note.profession }}
							</span>
						</div>
						<div class="col-3">
							<p class="fst-italic text-end">{{ note.updated_date }}</p>
						</div>
					</div>
				</div>


			{% endfor %}


			<!-- Add note button function -->
			<div class="d-grid">
				<button type="button" name="add-note-btn" class="btn btn-primary btn-lg mt-5" id="add-note-btn" data-bs-toggle="modal" data-bs-target="#addNoteModal">
					<strong>Add note</strong>
				</button>
			</div>

			<!-- Modal -->
			{# <form id="addNote" method="post" action="index.php"> #}
			<div class="modal fade" id="addNoteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="form-floating">
							<textarea class="form-control" placeholder="Leave a note here" name="addingNote" id="floatingTextarea2" style="height: 300px"></textarea>
							<label for="floatingTextarea2">Notes</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
			{# </form> #}
		</div>
		{% include "partial/footer.html.twig" %}
		{% include "partial/script.html.twig" %}
	</body>
</html>
