<!doctype html>
<html
	lang="en">
	<!-- Calling method head.html.twig-->
	{% include "partial/head.html.twig" %}
	<body>
		{% include "partial/navigation.html.twig" %}

		<div class="container">
			<ul class="nav nav-pills gap-3">
				<li class="nav-item">
					<a class="h3 nav-link fw-bold active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="h3 nav-link fw-bold linkUnset" href="/">Patients</a>
				</li>
			</ul>

			{% for note in notes.items %}
				<div class="container container-body px-5 py-5 my-3 shadow-sm rounded ">

					<div class="row justify-content-between">
						<div class="col-9">
							<p class="fw-bold fs-4" id="note">{{note.note_text}}</p>
							<span class="navbar-text text-capitalize fs-5">
								source:
								{{ note.first_name ~ ' ' }}{{ note.last_name }}
								|
								{{ note.profession }}
							</span>
						</div>
						<div class="col-3">
							<p class="fst-italic text-end">{{ note.updated_date }}</p>
						</div>
					</div>
				</div>


			{% endfor %}
		
			<!-- Add note button function -->
			<div class="d-grid">
				<button type="button" name="add-note-btn" class="btn btn-primary btn-lg mt-5" id="add-note-btn" data-bs-toggle="modal" data-bs-target="#addNoteModal">
					<strong>Add note</strong>
				</button>
			</div>

			
			<!-- Modal -->
			{# <form id="addNote" method="post" action="add_note.php"> #}
			<div class="modal fade" id="addNoteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<form id="addNote" method="post" action="add_note.php">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>				
								<div class="form-floating">
									<input type="text" class="form-control" placeholder="Leave a note here" name="addingNote" id="addingNote" onkeyup="noteInput()" required style="height: 300px">
									<label for="addingNote">Notes</label>
								</div>							
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								{# <button type="button" class="btn btn-primary">Save changes</button> #}
								{% set outcome = result.errors | join(", ") %}
								<button type="submit" class="btn btn-primary" id="add-note-btn">Save changes</button>
							
								{% if outcome | length > 0 %}
									<div class="alert alert-warning alert-dismissible fade show" role="alert">
										{{ outcome }}
										<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
									</div>
								{% endif %}
							</div>						
						</div>
					</form>
				</div>
			</div>
			
		</div>
		{% include "partial/footer.html.twig" %}
		{% include "partial/script.html.twig" %}
		{# <script type="text/javascript" src="js/home.js" defer></script> #}
	</body>
</html>
