<!doctype html>
<html
	lang="en">
	<!-- Calling method head.html.twig-->
	{% include "partial/head.html.twig" %}
	<body>
		{% include "partial/navigation.html.twig" %}

		<div class="container">
			<ul class="nav nav-pills gap-3 mb-5">
				<li class="nav-item">
					<a class="nav-link fw-bold active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fw-bold linkUnset" href="patient.php">Patients</a>
				</li>
			</ul>
			<div class="container container-body px-5 py-3 my-3 shadow-sm rounded" style="background-color: gray; color:white">
				<div class="row justify-content-between">
					<div class="col-9">
						<p class="fw-bold " id="patient-name">Notes</p>
					</div>
					<div class="col-3">
						<p class="fw-bold text-end">Date</p>
					</div>
				</div>
			</div>

			{% for note in notes.items %}
				<div class="container container-body px-5 py-3 my-3 shadow-sm rounded">
					<div class="row justify-content-between">
						<div class="col-9">
							<p class="fw-bold fs-5 text-truncate" id="note">{{note.note_text}}</p>
							<span class="navbar-text text-capitalize">
								Entered by:
								{{ note.first_name ~ ' ' }}{{ note.last_name }}
								|
								{{ note.profession }}
							</span>
						</div>
						<div class="col-3">
							<p class="fst-italic text-end">{{ note.updated_date | date("d F Y h:ia", "Australia/NSW")}}</p>
							<p class="text-end">
								<button id='{{note.note_ID}}' class='btn btn-primary noteDetailBtn'>View</button>
							</p>
						</div>
					</div>
				</div>

			{% endfor %}

			<!-- Add note button -->
			<div class="d-grid">
				<button type="button" name="add-note-btn" class="btn btn-primary btn-lg mt-5" id="add-note-btn" data-bs-toggle="modal" data-bs-target="#addNoteModal">
					<strong>Add note</strong>
				</button>
			</div>

			<!-- Add note modal -->
			<div class="modal fade" id="addNoteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<form id="addNote" method="post" action="add_note.php">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="addProfileModalLabel">Add note</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="form-group mb-3">
									<textarea type="text" rows="3" class="form-control mt-3" placeholder="Leave a note here" name="addingNote" id="addingNote" onkeyup="noteInput()" required style="height: 400px; "></textarea>
								</div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
								{% set outcome = notes.errors | join(", ") %}
								<button type="submit" class="btn btn-primary" id="add-note-btn">Add note</button>

								{% if outcome | length > 0 %}
									<div class="alert alert-warning alert-dismissible fade show" role="alert">
										{{ outcome }}
										<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
									</div>
								{% endif %}
							</div>
						</div>
					</form>
				</div>
			</div>

			<!--View note-->
			<div class="modal fade" id="viewNoteModal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modal-title">Note details</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p class="fw-bold fs-5 mb-3" id="viewingNote"></p>
							<span class="navbar-text text-capitalize" id="viewingSource"></span>

						</div>
						<div class="modal-footer justify-content-between">
							<p class="fst-italic" id="viewingDate"></p>
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>

			{# <div class="row col-sm-8 mx-auto"></div> #}
				
		</div>
		{% include "partial/footer.html.twig" %}
		{% include "partial/script.html.twig" %}
		<script src="js/index_v3.js" defer></script>
	</body>
</html>
