<!doctype html>
<html
	lang="en">
	<!-- Calling method head.html.twig-->
	{% include "partial/head.html.twig" %}
	<body>
		{% include "partial/navigation.html.twig" %}

		<div class="container">
			<ul class="nav nav-pills gap-3 mb-5">
				<li class="nav-item">
					<a class="nav-link fw-bold linkUnset" aria-current="page" href="/">
						<i class="fa-sharp fa-light fa-house-medical fa-xl" style="color: #000000;"></i> Home
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fw-bold active" href="patient.php">
					<i class="fa-sharp fa-solid fa-users-medical fa-xl"></i> Patients</a>
				</li>
			</ul>
			
			<h2 class="text-center">
			<i class="fa-sharp fa-solid fa-users-medical" style="color: #000000;"></i> Patients</h2>

			<!-- Search and Status option -->
			<form id="patientSearchAndStatus" method="post" action="patient_search_result.php">
				<div class="row justify-content-between my-3">
					<div class="col-md-6">
						<label for="seacrh" class="form-label fw-bold">Patient name</label>
						<div class="input-group mb-3" id="searchBoxAndButton">
							<input type="text" class="form-control" name="inputName" id="inputName" placeholder="Search patient here..." aria-label="Patient's name" aria-describedby="Type patient's name here">
							<button class="btn btn-secondary" type="submit" name="searchBtn" id="searchBtn" disabled>Search</button>
						</div>
					</div>
					<div class="col-md-3">
						<label for="status" class="form-label fw-bold">Status</label>
						<div class="input-group">
							<select
								class="form-select" name="statusSelected" aria-label="status">
								{# <option selected>Choose...</option> #}
								<option value="all" selected>All</option>
								<option value="active">Active</option>
								<option value="deceased">Deceased</option>
								<option value="discharged">Discharged</option>
								<option value="transferred">Transferred</option>
								<option value="wait listed">Wait listed</option>
							</select>
							<button class="btn btn-primary" type="submit" name="statusBtn" id="statusBtn">Search</button>
						</div>
					</div>
				</div>
			</form>

			<!-- Error found message -->
			{% if notFoundMessage | length > 0 %}
				<p class="alert alert-warning" style="display:flex">{{notFoundMessage}}</p>

			{% else  %}
				<p class="alert alert-warning" style="display:none">{{notFoundMessage}}</p>
				<div class="container container-body px-5 py-3 my-3 shadow-sm rounded" style="background-color: gray; color:white">
					<div class="row justify-content-between">
						<div class="col-9">
							<p class="fw-bold " id="patient-name">Patients</p>
						</div>
						<div class="col-3">
							<p class="fw-bold text-end">Room</p>
						</div>
					</div>
				</div>

			{% endif  %}

			
			<!-- List of all Patients -->
			{% for patient in patients.items %}
				<div class="container container-body px-5 py-3 my-3 shadow-sm rounded">
					<div class="row justify-content-between align-items-center">
						<div class="col-md-2">
							<a href="view-patient-profile.php?patient_ID={{patient.patient_ID}}">
								{# <img src="img/patient/{{ patient.patient_image}}" class="img-fluid rounded overflow-hidden" style="max-width:100%; max-height: 100px; height: auto;" alt="patient image"> #}
								<img src="img/patient/{{ patient.patient_image}}" class="img-fluid rounded overflow-hidden" alt="patient image">
							</a>
						</div>
						<div class="col-md-4">
							<a href="view-patient-profile.php?patient_ID={{patient.patient_ID}}" class="text-reset text-decoration-none">
								<p class="fw-bold fs-5 text-capitalize">{{ patient.first_name}} {{ patient.last_name }}</p>								
							</a>
							<span class="navbar-text text-capitalize">
								DOB:
								{{ patient.date_of_birth | date("d F Y")}}
								| Age:
								{{ patient.age }}
							</span>
						</div>

						<div class="col-md-6">
							<p class="fst-italic text-end text-capitalize">Room
								{{ patient.room }} | 
								{{ patient.ins_name }}</p>
							<p class="text-end">
								{# <form action="view-patient-detail.php" method="POST">
									<input type="hidden" name="patient_ID" value="{{patient.patient_ID}}">
									<p class="text-end">
										<button class="btn btn-primary" type="submit">View</button>
									</p>
								</form> #}
								<p class="text-end mt-3">						
									<a class="btn btn-primary" href="view-patient-profile.php?patient_ID={{patient.patient_ID}}">View</a>
								</p>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}

			{% if user_level == 3 %}
			<div class="d-grid">
				<a href="add_patient.php" type="button" name="add-patient-btn" class="btn btn-primary btn-lg mt-5" id="add-patient-btn">
					<strong>Add patient</strong>
				</a>
			</div>
			{% else %}
				<div style="display:none">
					<a href="add_patient.php" type="button" name="add-patient-btn" class="btn btn-primary btn-lg mt-5" id="add-patient-btn">
						<strong>Add patient</strong>
					</a>
				</div>
			{% endif %}


		</div>
		{% include "partial/footer.html.twig" %}
		{% include "partial/script.html.twig" %}
		<script src="js/patient_v6.js" defer></script>
	</body>
</html>
