<!doctype html>
<html
	lang="en">
	<!-- Calling method head.html.twig-->
	{% include "partial/head.html.twig" %}
	<body>
		{% include "partial/navigation.html.twig" %}

		<div class="container">
			<ul class="nav nav-pills gap-3">
				<li class="nav-item">
					<a class="nav-link fw-bold linkUnset " href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fw-bold active" aria-current="page" href="patient.php">Patients</a>
				</li>
			</ul>
			<div class="container container-body px-5 py-3 my-3 shadow-sm rounded" style="background-color: gray; color:white">
				<div class="row justify-content-between">
						<div class="col-9">
							<p class="fw-bold " id="patient-name">Patients</p>
						</div>
						<div class="col-3">
							<p class="fw-bold text-end">Room</p>					
						</div>
				</div>
			</div>
			{% for patient in patients.items %}
			<div class="container container-body px-5 py-3 my-3 shadow-sm rounded">
				<div class="row justify-content-between">					
					<div class="col-2">
						<img src="img/patient/{{ patient.patient_image}}" class="img-fluid rounded overflow-hidden" style="height:100px;" alt="patient image">
					</div>
					<div class="col-4">
						<p class="fw-bold fs-5 text-capitalize" id="patient-name">{{ patient.first_name}} {{ patient.last_name }}</p>
						<span class="navbar-text text-capitalize">
							DOB: {{ patient.date_of_birth | date("d F Y")}} | Age: {{ patient.age }}
						</span>
					</div>
					
					<div class="col-6">
						<p class="fst-italic text-end">Room {{ patient.room }} {{ patient.ins_name }}</p>
						<p class="text-end">								
						<button id='{{patient.patient_ID}}'  class='btn btn-primary patientDetailBtn'>View</button>					
						</p>
					</div>
				</div>
			
				</div>
			{% endfor %}

			<div class="d-grid">
				<a href="add_patient.php" type="button" name="add-patient-btn" class="btn btn-primary btn-lg mt-5" id="add-patient-btn">
					<strong>Add new patient</strong>
				</a>
			</div>
		</div>
		{% include "partial/footer.html.twig" %}
		{% include "partial/script.html.twig" %}
	</body>
</html>
