<!doctype html>
<html
	lang="en">
	<!-- Calling method head.html.twig-->
	{% include "partial/head.html.twig" %}
	<body>
		{% include "partial/navigation.html.twig" %}

		<div class="container">
			<ul class="nav nav-pills gap-3 mb-5">
				<li class="nav-item">
					<a class="nav-link fw-bold linkUnset " href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fw-bold active" aria-current="page" href="patient.php">Patients</a>
				</li>
			</ul>

			<!-- List of Patient -->
			<div class="container container-body px-5 py-3 my-3 shadow-sm rounded ">
				<div class="row justify-content-between align-items-center">

					<div class="col-2">
						<a href="view-patient-profile.php?patient_ID={{patientDetail.patient_ID}}">
							<img src="img/patient/{{ patientDetail.patient_image}}" class="img-fluid rounded overflow-hidden" id="patient-image" style="max-width:100%; height: auto;" alt="patient image">
						</a>
					</div>

					<div class="col-4 mt-3">
						<p class="fw-bold fs-5 text-capitalize">{{ patientDetail.first_name}}
							{{ patientDetail.last_name }}</p>
						<span class="nav-text text-capitalize">
							DOB:
							{{ patientDetail.date_of_birth | date("d F Y")}}
							| Age:
							{{ patientDetail.age }}
						</span><br>
						<span class="text-capitalize">
							Gender:
							{{ patientDetail.gender }}
						</span><br>
						<span class="text-capitalize">
							Allergies:
							{{ patientDetail.allergy }}
						</span><br>
						<span class="text-capitalize">
							Emergency response:
							{{ patientDetail.emergency_response }}
						</span><br>
						<span class="text-capitalize">
							Status:
							{{ patientDetail.status }}
						</span>
					</div>

					<div class="col-6">
						<p class="fw-bold fs-5 text-end text-capitalize">Room | Institution</p>
						<p class="fst-italic text-end text-capitalize">Room
							{{ patientDetail.room }}
						</p>

						<p class="fst-italic text-end text-capitalize">
							{{ patientDetail.ins_name }}</p>
					</div>
				</div>
			</div>


			<!--Navigation tab -->
			<ul class="nav nav-tabs justify-content-center mt-5 gap-5">
				<li class="nav-item">
					<a class="nav-link" href="view-patient-profile.php?patient_ID={{ patientDetail.patient_ID }}">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="view-patient-progress.php?patient_ID={{ patientDetail.patient_ID }}" aria-current="page">Progress</a>
				</li>
				<li class="nav-item">
					<a class="nav-link  fw-bold active" href="view-patient-vital-sign.php?patient_ID={{ patientDetail.patient_ID }}" aria-current="page">Vital Signs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="view-patient-medication.php?patient_ID={{ patientDetail.patient_ID }}" aria-current="page">Medication</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="view-patient-medical-record.php?patient_ID={{ patientDetail.patient_ID }}" aria-current="page">Medical records</a>
				</li>
			</ul>


			{% for item in vitalSignsDetail %}
				<div class="container container-body px-5 py-3 my-3 shadow-sm rounded">
					<div class="row justify-content-between ">

						<div class="col-9">
							<p class="fs-5" id="vital-signs">
								<span class="navbar-text fw-bold">BP:</span>
								{{item.systolic}}/{{item.diastolic}}
								&#8226;
								<span class="navbar-text fw-bold">Temp:</span>
								{{item.temperature}}
								&#8226;
								<span class="navbar-text fw-bold">P:</span>
								{{item.pulse_rate}}
								&#8226;
								<span class="navbar-text fw-bold">Resp:</span>
								{{item.respiratory_rate}}
								&#8226;
								<span class="navbar-text fw-bold">O<sup>2</sup>
									sat:</span>
								{{item.oxygen_saturation}}%
							</p>
							<p class="text-truncate">
								<span class="navbar-text fw-bold">Comments:</span>
								{{ item.vs_text}}
							</p>
							<span class="navbar-text text-capitalize">
								Entered by:
								{{ item.first_name ~ ' ' }}{{ item.last_name }}
								|
								{{ item.profession }}
							</span>
						</div>

						<div class="col-3">
							<p class="fst-italic text-end">
								{{ item.time_of_obs }}</p>
							<p class="text-end">
								<button id='{{item.vs_ID}}' class='btn btn-primary viewVitalSignsBtn'>View</button>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}

			<!-- Add Vital signs button -->
			<div class="d-grid">
				<button type="button" name="addVitalSignsBtn" class="btn btn-primary btn-lg mt-5" id="add-note-btn" data-bs-toggle="modal" data-bs-target="#addVitalSignsModal">
					<strong>Add vital signs</strong>
				</button>
			</div>

			<!-- Add Vital signs modal -->
			<div class="modal fade" id="addVitalSignsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<form id="addVitalSigns" method="post" action="add-vital-signs.php">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="addProfileModalLabel">Add vital signs</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<!-- Input type hidden to pass patient_ID -->
							<input
							type="hidden" name="patient_ID" value="{{patientDetail.patient_ID}}">

							<!-- Start of form -->
							<div class="mb-3 px-3 py-1">
								<label for="time_of_obs" class="form-label">Time of Observation
									<span class="asterisk">*</span>
								</label>
								<input type="text" class="form-control time" name="time_of_obs" id="time_of_obs" placeholder="Select date and time" required>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="systolic" class="form-label">Systolic
									<span class="asterisk">*</span>
								</label>
								<input pattern="\d{1,3}" inputmode="numeric" class="form-control" name="systolic" id="systolic" title="must contain digits only" placeholder="Must contain digits only..." required>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="diastolic" class="form-label">Diastolic
									<span class="asterisk">*</span>
								</label>
								<input pattern="\d{1,3}" inputmode="numeric" class="form-control" name="diastolic" id="diastolic" title="must contain digits only" placeholder="Must contain digits only..." required>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="temperature" class="form-label">Temperature
									<span class="asterisk">*</span>
								</label>
								<input type="text" class="form-control" name="temperature" id="temperature" placeholder="Type temperature" required>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="pulse_rate" class="form-label">Pulse rate
									<span class="asterisk">*</span>
								</label>
								<input pattern="\d{1,3}" inputmode="numeric" class="form-control" name="pulse_rate" id="pulse_rate" title="must contain digits only" placeholder="Must contain digits only..." required>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="respiratory_rate" class="form-label">Respiratory rate
									<span class="asterisk">*</span>
								</label>
								<input pattern="\d{1,3}" inputmode="numeric" class="form-control" name="respiratory_rate" id="respiratory_rate" title="must contain digits only" placeholder="Must contain digits only..." required>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="oxygen_saturation" class="form-label">Oxygen Saturation
									<span class="asterisk">*</span>
								</label>
								<input pattern="\d{1,3}" inputmode="numeric" class="form-control" name="oxygen_saturation" id="oxygen_saturation" title="must contain digits only" placeholder="Must contain digits only...">
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="vs_text" class="form-label">Comments
								</label>
								<textarea type="text" class="form-control" name="vs_text" id="vs_text" rows="3" placeholder="Type comment here..."></textarea>
							</div>


							<div class="modal-footer">
								<button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
								{% set outcome = resultsVitalSigns.errors | join(", ") %}
								<button type="submit" class="btn btn-primary" id="add-prog-note-btn">Add vital signs</button>

								{% if outcome | length > 0 %}
									<div class="alert alert-warning alert-dismissible fade show" role="alert">
										{{ outcome }}
										<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
									</div>
								{% endif %}
							</div>
						</div>
					</form>
				</div>
			</div>

			<!--View Vital signs details-->
			<div class="modal fade" id="viewVitalSignsModal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modal-title">Vital signs</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="mb-3 px-3 py-1">
								<label for="time_of_obs" class="form-label time_of_obs">Time of Observation									
								</label>
								<input type="text" class="form-control time_of_obs" name="time_of_obs" id="time_of_obs" placeholder="Select date and time" disabled>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="systolic" class="form-label">Systolic									
								</label>
								<input pattern="\d{1,3}" inputmode="numeric" class="form-control systolic" name="systolic" id="systolic" title="must contain digits only" placeholder="Must contain digits only..." disabled>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="diastolic" class="form-label">Diastolic									
								</label>
								<input pattern="\d{1,3}" inputmode="numeric" class="form-control diastolic" name="diastolic" id="diastolic" title="must contain digits only" placeholder="Must contain digits only..." disabled>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="temperature" class="form-label">Temperature									
								</label>
								<input type="text" class="form-control temperature" name="temperature" id="temperature" placeholder="Type temperature" disabled>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="pulse_rate" class="form-label">Pulse rate									
								</label>
								<input pattern="\d{1,3}" inputmode="numeric" class="form-control pulse_rate" name="pulse_rate" id="pulse_rate" title="must contain digits only" placeholder="Must contain digits only..." disabled>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="respiratory_rate" class="form-label">Respiratory rate									
								</label>
								<input pattern="\d{1,3}" inputmode="numeric" class="form-control respiratory_rate" name="respiratory_rate" id="respiratory_rate" title="must contain digits only" placeholder="Must contain digits only..." disabled>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="oxygen_saturation" class="form-label">Oxygen Saturation									
								</label>
								<input pattern="\d{1,3}" inputmode="numeric" class="form-control oxygen_saturation" name="oxygen_saturation" id="oxygen_saturation" title="must contain digits only" placeholder="Must contain digits only..." disabled>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="vs_text" class="form-label">Comments
								</label>
								<textarea type="text" class="form-control vs_text" name="vs_text" id="vs_text" rows="3" disabled></textarea>								
							</div>
							<div class="mb-3 px-3 py-1">
								<label for="source" class="form-label">Entered by
								</label>
								<input type="text" class="form-control source text-capitalize" name="source" id="source" disabled></input>								
							</div>

						</div>
						<div class="modal-footer justify-content-between">
							<p class="fst-italic" id="viewingDate"></p>
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>

		</div>
		{% include "partial/footer.html.twig" %}
		{% include "partial/script.html.twig" %}
		<script src="js/patient_vital_signs_v3.js" defer></script>
	</body>
</html>
