<!doctype html>
<html
	lang="en">
	<!-- Calling method head.html.twig-->
	{% include "partial/head.html.twig" %}
	<body>
		{% include "partial/navigation.html.twig" %}

		<div class="container">
			<ul class="nav nav-pills gap-3 mb-5">
				<li class="nav-item">
					<a class="nav-link fw-bold bg-secondary text-white" aria-current="page" href="/">
						<i class="fa-sharp fa-light fa-house-medical fa-xl" style="color: #ffffff;"></i> Home
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fw-bold active bg-primary text-white" href="patient.php">
					<i class="fa-sharp fa-solid fa-users-medical fa-xl"></i> Patients</a>
				</li>
			</ul>

			{# <h2 class="text-center">
			<i class="fa-sharp fa-solid fa-users-medical" style="color: #000000;"></i> Patients</h2> #}

			<!-- List of Patient -->
			<div class="container container-body px-5 py-3 my-3 shadow-sm rounded ">
				<div class="row justify-content-between align-items-start">

					<div class="col-md-2">
						<a href="view-patient-profile.php?patient_ID={{patientDetail.patient_ID}}">
							<img src="img/patient/{{ patientDetail.patient_image}}" class="img-fluid rounded overflow-hidden view-patient-profile-patient-image" id="view-patient-profile-patient-image" alt="patient image">
						</a>
					</div>

					<div class="col-md-7 mt-3">
						<a href="view-patient-profile.php?patient_ID={{patientDetail.patient_ID}}" class="text-reset text-decoration-none">
							<p class="fw-bold fs-5 text-capitalize">{{ patientDetail.first_name}} {{ patientDetail.last_name }}</p>								
						</a>
						<span class="nav-text text-capitalize">
							DOB:
							{{ patientDetail.date_of_birth | date("d F Y")}}
							| Age:
							{{ patientDetail.age }}
						</span><br>
						<span class="text-capitalize">
							Gender:
							{{ patientDetail.gender }}
						</span><br>
						<span class="text-capitalize">
							Allergies:
							{{ patientDetail.allergy }}
						</span><br>
						<span class="text-capitalize">
							Emergency response:
							{{ patientDetail.emergency_response }}
						</span><br>
						<span class="text-capitalize">
							Status:
							{{ patientDetail.status }}
						</span>
					</div>

					<div class="col-md-3 mt-3 view-patient-profile-room-institution-wrapper">
						<p class="fw-bold fs-5 text-capitalize">Room | Institution</p>
						<p class="fst-italic  text-capitalize">Room
							{{ patientDetail.room }}
						</p>

						<p class="fst-italic text-capitalize">
							{{ patientDetail.ins_name }}</p>
							
						<p class="d-grid mt-3">						
							<a class="btn btn-primary" href="edit-patient-information.php?patient_ID={{patient.patient_ID}}"><i class="fa-sharp fa-light fa-pen-to-square" style="color: #ffffff;"></i> Edit</a>
						</p>
					</div>
				</div>
			</div>


			<!--Navigation tab -->
			<ul class="nav nav-tabs justify-content-center mt-5 gap-5">
				<li class="nav-item">
					<a class="nav-link bg-secondary text-white" href="view-patient-profile.php?patient_ID={{ patientDetail.patient_ID }}">
					<i class="fa-sharp fa-light fa-clipboard-user fa-xl" style="color: #ffffff;"></i> Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link bg-secondary text-white" href="view-patient-progress.php?patient_ID={{ patientDetail.patient_ID }}" aria-current="page">
					<i class="fa-sharp fa-light fa-clipboard-medical fa-xl" style="color: #ffffff; "></i> Progress</a>
				</li>
				<li class="nav-item">
					<a class="nav-link bg-secondary text-white" href="view-patient-vital-sign.php?patient_ID={{ patientDetail.patient_ID }}" aria-current="page">
					<i class="fa-sharp fa-light fa-bed-pulse fa-xl" style="color: #ffffff;"></i> Vital sign</a>
				</li>
				<li class="nav-item">
					<a class="nav-link bg-secondary text-white" href="view-patient-medication.php?patient_ID={{ patientDetail.patient_ID }}" aria-current="page">
					<i class="fa-sharp fa-light fa-pills fa-xl" style="color: #ffffff;"></i> Medication</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fw-bold active bg-primary text-white" href="view-patient-medical-record.php?patient_ID={{ patientDetail.patient_ID }}" aria-current="page">
					<i class="fa-sharp fa-solid fa-folder-medical fa-xl" style="color: #ffffff;"></i> Medical record</a>
				</li>
			</ul>

			<!-- Display all medical records -->
			{% for item in medicalRecordDetail %}
				<div class="container container-body px-5 py-3 my-3 shadow-sm rounded">
					<div class="row justify-content-between ">

						<div class="col-sm-9">
							<p class="fw-bold fs-5 text-truncate" id="mr_title">{{item.mr_title}}</p>
							{% if item.mr_text | length > 0 %}
								<p class="text-truncate">
									<span class="navbar-text fw-bold">Comments:</span>
									{{ item.mr_text}}
								</p>
							{% else %}
								<p class="text-truncate">
									<span class="navbar-text fw-bold">Comments: N/A</span>
									{{ item.mr_text}}
								</p>
							{% endif %}
							
							{% if item.mr_file | length > 0 %}
								<p class="text-truncate">
								<span class="navbar-text fw-bold">Attached File: </span>
								<span class="navbar-text fw-bold me-3"><a href="img/uploads_medical_record/{{ item.mr_file }}" target="_blank">View</a></span>
								<span class="navbar-text fw-bold"><a href="img/uploads_medical_record/{{ item.mr_file }}" download>Download</a></span>
								</p>
							{% else %}
								<p class="text-truncate">
									<span class="navbar-text fw-bold">View image attached: N/A</span>
								</p>
							{% endif %}
							<span class="navbar-text text-capitalize">
								Entered by:
								{{ item.first_name ~ ' ' }}{{ item.last_name }}
								|
								{{ item.profession }}
							</span>				
						</div>

						<div class="col-sm-3 justify-content-between">
							<p class="fst-italic text-end">
								{{ item.updated_date | date("d F Y h:ia", "Australia/NSW") }}</p>
							<p class="text-end mt-3">
								<button id='{{item.mr_ID}}' class='btn btn-primary viewMedicalBtn'><i class="fa-sharp fa-light fa-magnifying-glass" style="color: #ffffff;"></i> View</button>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}

			<!-- Add medical record details and pass the patient_ID-->
			<div class="d-grid">
				<a href="add-medical-record.php?patient_ID={{ patientDetail.patient_ID }}" type="button" name="add_medicalRecord_btn" class="btn btn-primary btn-lg mt-5" id="add-patient-btn">
				<strong><i class="fa-sharp fa-solid fa-file-arrow-up" style="color: #ffffff;"></i> Upload medical record</strong>
				</a>
			</div>


			<!-- View medical record details -->
			<div class="modal fade" id="viewMedicalRecordModal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modal-title">Medical record</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="mb-3 px-3 py-1">
								<label for="mr_time" class="form-label">Recorded date
								</label>
								<input type="text" class="form-control mr_time" name="mr_time" id="mr_time" placeholder="Select date and time" disabled>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="mr_title" class="form-label">Title
									<span class="asterisk">*</span>
								</label>
								<input type="text" class="form-control mr_title" name="mr_title" id="mr_title" placeholder="Enter title here..." disabled>
							</div>

							<div class="mb-3 px-3 py-1 result_wrapper" style="display:none;">
								<label for="mr_result" class="form-label">Result
								</label>
								<textarea type="text" class="form-control mr_result" name="mr_result" id="mr_result" rows="10" placeholder="Enter results here..." disabled ></textarea>
							</div>


							{# <div class="mb-3 px-3 py-1 mr_file_wrapper" style="display:none;">							
								<p class="text-truncate my_mr_file">
								<span class="navbar-text fw-bold">View image attached: <a href="" target="_blank" id="medical-record-link">Click here</a></span>
								</p>
							</div> #}
							
							
							<div class="mb-3 px-3 py-1">
								<label for="mr_text" class="form-label">Comments
								</label>
								<textarea type="text" class="form-control mr_text" name="mr_text" id="mr_text" rows="3" placeholder="Enter comments here..." disabled></textarea>
							</div>

							<div class="mb-3 px-3 py-1">
								<label for="source" class="form-label">Entered by
								</label>
								<input type="text" class="form-control text-capitalize viewMedicalsource" name="source" id="source" disabled></input>								
							</div>

						</div>
						<div class="modal-footer justify-content-between">
							<p class="fst-italic" id="viewingDate"></p>
							<button type="button" class="btn btn-primary " data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>    
		</div>
		{% include "partial/footer.html.twig" %}
		{% include "partial/script.html.twig" %}
		<script src="js/patient_medical_record_v3.js" defer></script>
	</body>
</html>
