<nav class="navbar navbar-expand-lg mb-5 px-3" id="navbar">
	<div class="container">
		{% if user_level == 1 or user_level == 2 %}
			<a class="navbar-brand" href="userdashboard.php">
				<img id="img-logo" src="/img/logo/WhiteLogo.svg" alt="iMed Logo">
			</a>
		{% else %}
			<a class="navbar-brand" href="/">
				<img id="img-logo" src="/img/logo/WhiteLogo.svg" alt="iMed Logo">
			</a>
		{% endif %}

		{% if user_ins_name | length > 0 and user_profession | length > 0 %}	
			<span class="navbar-text text-capitalize">
				<strong>{{user_ins_name ~ ' | '}}{{user_profession}}</strong>
			</span>
		{% else %}
			<div style="display: flex; gap: 2px; text-align:center;">
				<p class="text-capitalize">
					<strong>{{user_ins_name}}</strong>
				</p>
			</div>
		{% endif %}

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center justify-content-end w-100">
				{% if user_email | length > 0  and (user_level == 1) or (user_level == 2) %}
					<a class="nav-link active" href="userdashboard.php">
						<img class="img-detail user-image" style="width:50px; height:50px; object-fit:cover;border-radius:500%;" src="/img/user/{{ user_image }}">
					</a>

					<li class="nav-item dropdown" id="navbarDropdownMenuLink">
						<a class="nav-link dropdown-toggle" href="userdashboard.php" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="navbar-text text-capitalize" style="color:white;">
								<strong>{{user_firstName ~ ' '}}{{user_lastName}}</strong>
							</span>
						</a>

						<ul class="dropdown-menu ps-1" aria-labelledby="navbarDropdownMenuLink">

							<li>
								<a class="dropdown-item" href="userdashboard.php">Dashboard</a>
							</li>

							<li>
								<a class="dropdown-item" href="createUser.php">Create new user</a>
							</li>

							<li>
								<a class="dropdown-item" href="edit_account.php">Edit account</a>
							</li>
							<li>
								<a class="dropdown-item" href="signout.php">Sign out</a>
							</li>
						</ul>
					</li>

				{% else %}
					<img class="img-detail user-image mx-3" style="width:50px; height:50px; object-fit:cover;border-radius:500%;" src="/img/user/{{ user_image }}">
					<li class="nav-item dropdown" id="navbarDropdownMenuLink">
						<a class="nav-link active dropdown-toggle" href="userdashboard.php" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="navbar-text text-capitalize" style="color:white;">
								<strong>{{user_firstName ~ ' '}}{{user_lastName}}</strong>
							</span>
						</a>

						<ul class=" dropdown-menu ps-1" aria-labelledby=" navbardropdownmenulink">
							<li>
								<a class="dropdown-item" href="signout.php">Sign out</a>
							</li>
						</ul>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
